MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/cellular_signal_db?retryWrites=true&w=majority
REDIS_URI=redis://default:<password>@your-upstash-host.upstash.io:6379
MAPBOX_TOKEN=pk.your_mapbox_public_token_here
LLM_API_KEY=your_openai_groq_or_anthropic_key_here
